<div class="container text-center">
    <h4><%= @artwork.name %> / <%= @artwork.genre %></h4>
    <p><%= @artwork.description %></p>
    <p>Price = <%= @artwork.price %> €</p>
    <h5><%= link_to "back", artworks_path, class: "btn btn-primary" %></h5>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @artwork_coordinates %>;
      alert('Artwork coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
