<div class="container text-center">
  <div class="row" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-md-12">
      <div id="map" style="width: 100%; height: 400px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>

          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({
            internal: { id: 'map' }}, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(12);
            });
          })
        <% end %>
      <% end %>
    </div>

  <div class="col-sm-6 col-sm-offset-3">
    <h3 class="myfontsetup"><%= @artwork.name %></h3>
    <h4 class="myfontsetupgenres"><%= @artwork.genre %></h4>
    <p><%= cl_image_tag @artwork.picture, width: "450x450" %></p>
    <p><%= @artwork.description %></p>
    <p class="myfontsetupprices">Price = <%= @artwork.price %> €</p>
    <h5><%= link_to "book this artwork", new_reservation_path, class: "mybackbutton" %></h5>
    <hr>
    <h5><%= link_to "back", artworks_path, class: "mybackbutton" %></h5>
  </div>
</div>

