<h2 class="text-center">Art&Co</h2>
<p class="text-center">We love art</p>
<div class="container text-center" >
  <% @artworks.each do |artwork| %>
    <h3><%= artwork.name %></h3>
    <p><%= artwork.description %></p>
    <h4><%= artwork.price %>€</h4>
    <h5 class="bestlabel"><%= artwork.genre %></h5>
  <% end %>
  </div>
  <div class="container text-center" >
  <% @reservations.each do |reservation| %>
    <h3><%= reservation.user.email %></h3>
    <p>Start date = <%= reservation.start_date %></p>
    <p>End date = <%= reservation.end_date %></p>
    <h5>Artwork = <%= reservation.artwork.name %></h5>
  <% end %>
  </div>

  <div class="container text-center" >
  <% @users.each do |user| %>
    <h4><%= user.email %></h4>
  <% end %>
  </div>
